version: "3.9"

services:
  dataease-app:
    image: dataease-dataease-app:local
    container_name: dataease-app
    restart: on-failure
    extra_hosts:
      - "mysql8:172.19.0.4"
      - "redis-dataease:172.19.0.3"
    ports:
      - "8100:8100"
    environment:
      JAVA_OPTS: ${JAVA_OPTS:--Xms2g -Xmx4g -Dfile.encoding=utf-8}
      SPRING_PROFILES_ACTIVE: standalone
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql8:3306/dataease10?autoReconnect=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true"
      SPRING_FLYWAY_ENABLED: "false"
    networks:
      - my-net

networks:
  my-net:
    external: true

volumes:
  db-migration:
  dataease-logs:
  dataease-data:
